@model UsersViewModel
@{
    Layout = "_UserProfileLayout";
    ViewData["Title"] = "Профиль пользователя";
}


<div class="container">

    <h3>@ViewBag.Title</h3>



    <dl class="dl-horizontal">


        <dt>Имя</dt>
        <dd>@Model.FirstName</dd>

        <dt>Фамилия</dt>
        <dd>@Model.LastName</dd>

        <dt>Имейл</dt>
        <dd>@Model.Email</dd>
        
        

        <dt>Возраст</dt>
        <dd>@Model.Age</dd>

    </dl>


</div>
