@model UsersViewModel
@{
    ViewData["Title"] = $"Подтвердите удаление данных сотрудника {Model.LastName} {Model.FirstName}";
}



<div class="container">

    <h3>@ViewBag.Title</h3>
    <dl class="dl-horizontal">
        <dt> Id</dt>
        <dd>@Model.Id</dd>

        <dt>Имя</dt>
        <dd>@Model.FirstName</dd>

        <dt>Фамилия</dt>
        <dd>@Model.LastName</dd>

        <dt>Отчество</dt>
        <dd>@Model.Patronymic</dd>

        <dt>Возраст</dt>
        <dd>@Model.Age</dd>

    </dl>

    <hr />
    <div class="row">
        <div class="col-sm-5">
            <form asp-action="EndDeleteEmployee" asp-route-id="@Model.Id" method="post">
                <input style="margin:10px 0px" class="btn btn-danger" type="submit" value="Удалить">
            </form>
            <a style="margin:10px 0px" asp-action="Index" class="btn btn-info">Вернуться назад</a>
        </div>

    </div>


</div>